@page "/home"
<h3>home</h3>
<h3>home</h3>

<div id="container" style="width:300px; height: 180px;">
    <img src="https://restapi.amap.com/v3/staticmap?location=121.215277,31.286099&zoom=15&size=750*300&markers=mid,,A:121.218134,31.287330&scale=2&key=89d990bd817cdb3c7169b7582b6d4739" />
</div>


@code {

    
}
