@page "/sellers"
@layout MainLayout
@inject ISellerService SellerService
@inject NavigationManager Navigation
@inject IReviewService ReviewService

<PageTitle>美食交流</PageTitle>

@if (SellerService.sellers == null || SellerService.sellers.Count == 0)
{
    <span>
        加载中...
    </span>
}
else
{
    <Row ItemsPerRow="ItemsPerRow.Six">
        @foreach (var seller in SellerService.sellers)
        {
            <Card @onclick="(()=> JumpDetail(seller.Id))">
                <BodyTemplate>

                    <div class="div">
                        <img class="img-fluid" style="object-fit: cover;" src="@seller.ImageUrl" />
                    </div>
                    <h5 style="padding-top:10px;font-weight:bold;color:#7F82BB">@seller.Name</h5>
                    <p class="card-text" style="color:gray"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> @seller.Location</p>
                </BodyTemplate>
            </Card>
        }
    </Row>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        await SellerService.GetSellers();
    }
    private Task JumpDetail(int id)
    {
        Navigation.NavigateTo("/seller/"+id);
        return Task.CompletedTask;
    }
}

