@page "/sellers"
@layout MainLayout
@inject ISellerService SellerService

@if (SellerService.sellers == null || SellerService.sellers.Count == 0)
{
    <span>
        加载中...
    </span>
}
else
{
    <Row ItemsPerRow="ItemsPerRow.Four">
        @foreach (var seller in SellerService.sellers)
        {
            <Card>
                <BodyTemplate>
                    <img class="img-fluid" src="@seller.ImageUrl" />
                    <h5 class="card-title">@seller.Name</h5>
                    <p class="card-text">@seller.Location</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </BodyTemplate>
            </Card>
        }
    </Row>
}
@code {
    protected override async Task OnInitializedAsync()
    {
        await SellerService.GetSellers();
    }
}
