@page "/team"
@layout MainLayout

<PageTitle>组队信息</PageTitle>

<Tab IsCard="true" IsBorderCard="true">
    <TabItem Text="组队广场">
        <center>
            <Button Text="发布组队信息" OnClickWithoutRender="@ShowEditedDialog" />
        </center>
    </TabItem>
    <TabItem Text="我的队伍">
        <div>我的队伍</div>
    </TabItem>
    <TabItem Text="我的加入">
        <div>我的加入</div>
    </TabItem>
</Tab>

@code {

    private async Task ShowEditedDialog()
    {
        /*var items = Utility.GenerateEditorItems<reviewContent>();
        var item = items.First(i => i.GetFieldName() == nameof(reviewContent.rate));
        var option = new EditDialogOption<reviewContent>()
            {
                Title = "评价框",
                Model = model,
                Items = items,
                ItemsPerRow = 1,
                RowType = RowType.Inline,
                OnCloseAsync = () =>
                {

                    return Task.CompletedTask;
                },
                OnEditAsync = context =>
                {
                    submitReview();
                    return Task.FromResult(true);
                },
                SaveButtonText = "提交评价"
            };
        await DialogService.ShowEditDialog(option);*/
    }
}
