.div[b-j236pjhqtz] {
    width: 100%;
    height: 0px;
    padding-bottom: 100%;
    position: relative;
}

    .div img[b-j236pjhqtz] {
        width: 100%;
        height: 100%;
        position: absolute;
    }
