@inherits LayoutComponentBase
@inject ILocalStorageService LocalStorage
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IUserService UserService

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
             <div class="col-6 col-sm-4 col-md-3 col-lg-auto">
                <Logout ImageUrl="@user.Avartar" ShowUserName="false" DisplayName="普通用户" UserName="@user.Name">
                    <LinkTemplate>
                        <Button OnClick="Logout">注销</Button>
                    </LinkTemplate>
                </Logout>
             </div>
        </div>

        <article class="content px-4" style="padding-top:20px">
            @Body
        </article>
    </main>
</div>


@code
{
    private async Task Logout()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        await LocalStorage.RemoveItemAsync("phone");
        await AuthenticationStateProvider.GetAuthenticationStateAsync();
        NavigationManager.NavigateTo("/");
    }

    private User user = new User();

    protected override async Task OnInitializedAsync()
    {
        string phone = await LocalStorage.GetItemAsStringAsync("phone");
        phone = phone.Replace("\"", "");
        user = await UserService.GetUserByPhone(phone);
    }
}