<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TJFoody</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="main" Match="NavLinkMatch.All">
                <span class="fa-solid fa-bowl-food" aria-hidden="true" style="padding-right:15px"></span> 美食交流
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="team">
                <span class="fas fa-people-group" aria-hidden="true" style="padding-right:15px"></span> 组队信息
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chathub">
                <span class="oi oi-list-rich" aria-hidden="true"></span> 聊天室
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
